@font-face {
    font-family: 'Pretendard-Medium'; //변수 이름 <-- abc 

    //url(누르면 폰트가 다운이 되는 url) format('woff'); 
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff'); 

    // font-weight 
    font-weight: 500;

    //font-style normal
    font-style: normal;
}

