@import '../../styles/variables';
@import "../../styles/font";
@import '../../styles/reset';

.container {
  width : 1920px;
  overflow: hidden; // 스크롤 방지
  padding-top: 100px;
  
  .section1 { 
    width : 1920px;
    background-color: #FFFFFF;
    
    .textContainer {
      width : 100%;
      display: flex;
      flex-direction: row;
      margin-top : 45px;

      .title {
        margin-left: 55px;
        margin-right : 286px;
        height : 112px;

        p{
          font-family: 'SUIT-Medium';
          width: 387px;
          height: 112px;
          font-size: 40px;
          line-height: 56px;
          letter-spacing: -0.68px;
          color : #000;
        }
      }
      .descriptionContainer{
        width : 1116px;
        height : 801px;
        
        .description{
            margin-bottom: 180px;
            height : 128px;
            width : 100%;

            p {
              font-family: 'SUIT-Regular';
              font-size: 20px;
              letter-spacing: -0.68px;
              line-height: 31.6px;;
              color : #3A3A3A;
            }
        }

        .descTable {
          width : 1116px;
          height : 345px;
          display: flex;
          flex-direction: column;

          .descDiv{
            width : 1098px;
            height: 90px;
            display: flex;
            flex-direction: row;
            border-top: 1px solid #000000;
            align-items: center;
            box-sizing: border-box;
            gap : 200px;
            
            .descTitle{
              font-family: 'SUIT-Regular';
                width: 135px;
                height : 60px;
                font-size : 35px;
                color : #3A3A3A;

                font-style: normal;
                font-weight: 400;
                line-height: 170%; /* 59.5px */
                letter-spacing: -1.4px;
                
            }

            .descContent {
                  width : 700px;
                  height: 46px;
                  color: #3A3A3A;
                  display: flex;
                  align-items: center;

                p{
                  font-family: 'SUIT-Light';
                  width : 790px;
                  height : 46px;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 137%; /* 23.29px */
                  letter-spacing: -0.68px;
                }
            }
          }
        }
      }
    }
  }

  
  .activeSection {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  

  .section2, .section3, .section4 {
    height: 100vh; // 각 섹션의 높이를 뷰포트의 높이로 설정
    display: flex; // 내용 중앙 정렬을 위한 flex 설정
    
    transition: opacity 0.5s ease-in-out;
  }

  .section2{
    width : 1920px;
    background-color: pink;
    display: flex;
    flex-direction: column;

    .conferenceContainer {
      display: flex;
      flex-direction: row;
      width: 1691px;
      height : 96px;
      margin-left: 55px;
      margin-top: 25px;
      gap: 280px;

      .conferenceTitle{
          width : 380px;
          height : 56px;

          p {
            font-size: 40px;
            line-height: 56px;
            font-family: 'SUIT-Medium';
            letter-spacing: -1.6px;
          }
      }
      .conferenceContent{
        height : 96px;

        p{
          width: 100%;
          height : 100%;
          color: var(--MAIN-BLACK, #3A3A3A);
          font-family: 'SUIT-Regular';
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 158%; /* 31.6px */
          letter-spacing: -0.8px;
        }
      }
    }

    .imageContainer{
      width: 100%;
      height: 837px;
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      justify-content: space-around;
      
      .imageDiv{
        display: flex;
        flex-direction: column;
        width : 380px;

        

        .imageDescContainer{
          margin-top: 12px;
          width: 100%;
          height : 98px;
          row-gap: 13px;

            .imgTitle{
                color: var(--MAIN-BLACK, #3A3A3A);
                font-family: 'SUIT-Regular';
                font-size: 18px;
                font-style: normal;
                line-height: 170%; /* 30.6px */
                letter-spacing: -0.72px;
             }
             .imgContent{
                color: #A9A9A9;
                font-family:'SUIT-Regular';
                font-size: 18px;
                font-style: normal;
                line-height: 150%; /* 27px */
                letter-spacing: -0.72px;
             }
          }
        }
      }
  }
  .section3{
    background-color: aqua;
    width : 1920px;
    display: flex;
    flex-direction: column;

    .planContainer{
      width: 1700px;
      display: flex;
      flex-direction: row;
      margin-left: 55px;
      margin-top: 150px;
      justify-content: space-between;

      .plan{
        width : 150px;
        color: #000;
        font-family: 'SUIT-Medium';
        font-size: 40px;
        font-style: normal;
        line-height: 140%; /* 56px */
        letter-spacing: -1.6px;
        
      }

      .planContentContainer{
        width: 1254px;
        display: flex;
        flex-direction: column;
        height: 342px;
        color: var(--MAIN-BLACK, #3A3A3A);
        font-family: "SUIT-Regular";
        font-size: 20px;
        font-style: normal;
        line-height: 158%;
        letter-spacing: -0.8px;
        gap: 25px;
        justify-content: space-between;

        .planTitle{
          width : 453px;
          height : 61px;

          color: var(--MAIN-BLACK, #3A3A3A);
          font-family: 'SUIT-Regular';
          font-size: 36px;
          font-style: normal;
          line-height: 170%; /* 61.2px */
          letter-spacing: -1.44px;
        }
      }

      .targetContentContainer{
        display: flex;
        flex-direction: row;
        width : 1254px;
        height: 189px;

        .targetDiv{
          display: flex;
          flex-direction: column;

          .targetNumber{
            width : 311px;
            height : 79px;
            border-bottom: 1px solid #000000;
            color: #000;
            font-family: 'SUIT-Regular';
            font-size: 35px;
            line-height: 160%; /* 56px */
            letter-spacing: -1.4px;
          }

          .targetContent{
            width : 245px;
            margin-top: 23px;
            color: #000;
            font-family: 'SUIT-Regular';
            font-size: 18px;
            line-height: 160%; /* 28.8px */
            letter-spacing: -0.72px;
          }
        }
      }
    }
  }

  .hiddenSection {
    opacity: 0; // 숨겨진 섹션
    pointer-events: none; // 숨겨진 섹션의 클릭 이벤트 차단
    transition: opacity 0.5s ease-in-out;
  }
}

.section1{
  height : 77vh;
  transition: opacity 0.5s ease-in-out;
}